/* Styles */

body {
	font-family: 'Open Sans', sans-serif;
	font-size:20px
	--spacing:15px;
	
}

img {
	width:100%;
}

a {
	
}

a:hover {
	
}

h1 {
	font-size:35px;
	margin-bottom:20px;
	font-weight: bold;
}

h2 {
	
}

h3 {
	font-weight: bold;
	
}

p {
	margin-bottom:1em;
}

i {
	font-style:italic;
}

/* Classes */

.generator {

}

.button {
	background:lightslategray;
	border: 0px;

	font-size:20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;

	padding: 10px;
	margin-top:15px;
}

/* Mobile Adjustments */

@media (max-width: 500px) {
	body {
		font-size:24px;
	}

	h1 {
		font-size:40px;
	}

	/*.className {
		
	}
}

/* Animation */

